
$gradient: linear-gradient(to right, #f0c3b7, #feb47b);

header {
    background: $gradient;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 150px;


    nav {
        a {
            background-color: #f8f7f7;
            padding: 5px;
            border-radius: 15%;
            font-weight: 500;
        }
    }
}