 

 .Contactanos {
     margin-top: 50px;
 }

 .col-12 {
     margin-top: 30px;
 }

 .avisodeinscripción {
     color: black;
     font-size: medium;
     font-family: 'Roboto', sans-serif;
     flex: 1;
 }


 .item {
     display: flex;
     align-items: flex-start;
     margin-bottom: 30px;
 }

 .container-metodo {
     display: flex;
     align-items: center;

 }

 .container-metodo p {
     flex: 1;
     margin-right: 100px;
 }

 .carousel-inner {
     flex: 2;
     max-width: 300px;
     max-height: 500px;
 }

 .staffnombres {
     font-size: larger;
     text-decoration: underline;
     font-weight: 500;
 }
